---
import { render } from "astro:content"
import PlatoModal from "./PlatoModal.astro"

const { plato } = Astro.props
const { data } = plato
const { name, img, price } = data

const { Content } = await render(plato)
---

<PlatoModal closeText="Cerrar">
        <article slot="openButton" class="flex flex-col gap-1 mt-10 justify-center rounded-xl hover:cursor-pointer">
            <div class="w-full mt-0 rounded-xl overflow-hidden">
                <img src={img} alt={name} class="w-70 transition ease-in-out duration-200">
            </div>
            <h3 class="text-2xl font-bold text-center">{name}</h3>
            <small class="text-green-600 text-lg text-center">{price} CUP</small>
        </article>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <div class="w-full mt-0 rounded-xl overflow-hidden">
                <img src={img} alt={name} class="h-full transition object-cover">
            </div>
            <div class="flex flex-col gap-2 py-4 px-6 sm:px-0">
                <h3 class="text-2xl font-bold text-left">{name}</h3>
                <Content />
                <small class="block text-green-600 text-lg">{price} CUP</small>
            </div>
        </div>
</PlatoModal>

<style>
    article:hover > div img {
        transform: scale(1.05);
    }
</style>
